<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="container">
        <h1>Grade Calculator</h1>

    <form method="POST" action="/">
    <table id="forms">
        <tr>
            <th>Assignment</th>
            <th>Grade(%)</th>
            <th>Weight(%)</th>
        </tr>
        
        <tr>
            <td name="assignments" id="assignments-0"><input name = "assignments" type="text"></td>
            <td name="grades" id="grades-0"><input name="grades" type="number" required></td>   
            <td name="weights" id="weights-0"><input name="weights" type="number" required></td>
        </tr>

        <tr>
            <td name="assignments" id="assignments-1"><input name = "assignments" type="text"></td>
            <td name="grades" id="grades-1"><input name = "grades" type="number"></td>   
            <td name="weights" id="weights-1"><input name = "weights" type="number"></td>
        </tr>
        
    </table>
    <input class="submit-btn" type="submit" value="Calculate">
    <button class="add-row" id="add-row" type="button">Add another Row</button>
    </form>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>